#color .swatch {
	display: inline-block;
	width: 100%;
	color: inherit;
	padding: .75em;
	margin-top: .75em;
	margin-bottom: .75em;
	height: 150%;
}

#color .unit {
	text-align: center;
}

#grid .example .line {
	background-color: lighten($blueLight, 40%);
	margin-bottom: .75em;
}

#grid .example .unit div {
	margin: .75em 0;
	background-color: lighten($blueLight, 20%);
	padding: .75em;
	text-align: center;
}

#icons .icon {
	font-size: 3em;
}

#icons .largeIcon {
	font-size: 6em;
}

#icons .center {
	text-align: center;
}