@import "fonts", "variables", "styleguide";

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height:100%;
}

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form, textarea, input, select, label,legend,textarea,table,caption,tbody,tfoot,thead,tr,th,td {
	margin: 0;
	padding: 0;
	border: 0;
	color: $gray5;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	-webkit-font-smoothing: antialiased;
	line-height: 1.5em;
}

.section {
	border-top: 2px solid $gray1;
	padding-top: 1.875em;
	padding-bottom: 1.875em;
	margin: 1.875em 0;
}

body {
	background-color: white;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-family: $bodyFontStack;
	text-rendering: optimizeLegibility;
	vertical-align: baseline;
	color: $gray5;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	line-height: 0.375em;
	font-size: 1em;
	height: inherit;
}

// Grid 
// Source: http://oocss.org/grids_docs.html & https://ux.mailchimp.com/patterns/grids

line {
	zoom:1
}

.line:before,.line:after {
	content:" ";
	display:table;
}

.line:after {
	clear:both
}

.unit {
	overflow:hidden;
	-moz-background-clip:padding-box !important;
	-webkit-background-clip:padding-box !important;
	background-clip:padding-box !important;
	float:left;
	padding-right: 1.5em;
}

.lastUnit {
	overflow:hidden;
	-moz-background-clip:padding-box !important;
	-webkit-background-clip:padding-box !important;
	background-clip:padding-box !important;
	float:left;
	float:none;
	width:auto;
	padding-right:0;
}

.size8of8 {
	width:100%;
}

.size7of8 {
	width:87.5%;
}

.size6of8 {
	width:75%;
}

.size5of8 {
	width:62.5%;
}

.size4of8 {
	width:50%;
}

.size3of8 {
	width:37.5%;
}

.size2of8 {
	width:25%;
}

.size1of8 {
	width:12.5%;
}

.size4of4 {
	width:100%;
}

.size3of4 {
	width:75%;
}

.size2of4 {
	width:50%;
}

.size1of4 {
	width:25%;
}

.size2of2 {
	width:100%;
}

.size1of2 {
	width:50%;
}

.size3of3 {
	width:100%;
}

.size2of3 {
	width:66.66666666666666%;
}

.size1of3 {
	width:33.33333333333333%;
}

.size1of1 {
	width:100%;
}

.alignRight {
  text-align: right;
}

.alignLeft {
  text-align: left;
}

// Could potentially set a max-width so things never scale out too far
// .size1of2:first-child {
// 	max-width:580px;
// }

// .size1of2.maintain-width {
// 	/* max-width:inherit */
// }

// Typography

.h0, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-weight: bold;
}


.h0 {
	font-family: $titleFontStack;
	color: $blueLight;
	font-size: 3em;
	line-height: 1.25em;
	padding-top: 0.02083333333333em;
	margin-bottom: 0.47916666666667em;
}

h1, .h1 {
	font-family: $titleFontStack;
	color: $blueLight;
	font-size: 2.25em;
	line-height: 1.3333333333em;
	margin-bottom: 0.5em;
}

h2, .h2 {
	font-family: $titleFontStack;
	color: $gray4;
	font-size: 2.25em;
	line-height: 1.3333333333em;
	margin-bottom: 0.33333333333333em;
}

h3, .h3 {
	font-family: $titleFontStack;
	font-size: 1.5em;
	line-height: 1.5em;
	padding-top: 0.166666666667em;
	margin-bottom: 0.58333333333333em;
}

h4, .h4, h5, h6 {
	font-family: $titleFontStack;
	font-size: 1.125em;
	line-height: 1.3333333333em;
	margin-bottom: 1em;
}

.xlarge {
	font-family: $bodyFontStack;
	font-size: 1.625em;
	line-height: 1.38461538461538em;
	padding-top: 0.15em;
	margin-bottom: 0.34615384615385em;
}

.large {
	font-family: $bodyFontStack;
	font-size: 1.25em;
	line-height: 1.5em;
	padding-top: 0.1em;
	margin-bottom: 0.5em;
}

.normal {
	font-family: $bodyFontStack;
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: 0.75em;
	color: $gray5;
	font-weight: normal;
}

.small {
	font-size: 0.875em;
}

p {
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: 0.75em;
	max-width: 37.5em;
}

a:not(.img):not(.button), a:visited:not(.img):not(.button) {
  border-bottom: 2px solid;
  color: $blueLight;
  text-decoration: none;
  font-weight: bold;
}

a:hover:not(.img):not(.button), a:visited:hover:not(.img):not(.button), a:active:not(.img):not(.button) {
  color: darken($blueLight, 20%);
}


// Accounts for extra space on fixed header
a.anchor {
	display: block;
	position: relative;
	top: -7.5em;
	visibility: hidden;
}

code, kbd, pre, samp {
	font-family: $codeFontStack;
	padding: 0.125em 0.25em;
	font-size: 90%;
	color: $redDark;
	background-color: lighten($redDark, 50%);
	white-space: nowrap;
	border-radius: 4px;
}

// Forms


button, .button {
    background: none;
    float: none;
    height: 2.57142857142857em;
    margin: 0;
    margin-right: 1.28571428571429em;
    display: inline-block;
    white-space: nowrap;
    line-height: 2.57142857142857em !important; // Extra stuff to override profileV4 (sigh)
    font-size: 0.875em !important;
    padding: 0 1.28571428571429em !important;
    cursor: pointer;
    overflow: hidden;
    font-weight: normal;
    text-align: center;
    font-family: $bodyFontStack;
    border: 0 none;
    border-radius: 5px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    letter-spacing: .02em;
    background-color: $gray3;
    outline: none;
  }

button:hover, button:active, .button:hover, .button:active {
    background-color: darken($gray3, 20%);
    outline: none;
}

button.buttonPrimary,  .button.buttonPrimary {
    background-color: $blueLight;
}

button.buttonPrimary:hover, button.buttonPrimary:active, .button.buttonPrimary:hover, .button.buttonPrimary:active {
    background-color: darken($blueLight, 20%);
}

button:disabled, .button:disabled  {
    background-color: $gray1;
    color: $gray2;
}

button.buttonLink, .button.buttonLink {
    color: $blueLight;
    background-color: transparent;
    border-bottom: 2px solid $blueLight;
    border-radius: 0;
    line-height: 1.11111111111111em !important;
    padding: 0 !important;
    height: 1.28571428571429em !important;
    margin: 0.64285714285714em 0 !important;
}

button.buttonLink:hover, button.buttonLink:active, .button.buttonLink:hover, .button.buttonLink:active {
    color: darken($blueLight, 20%);
    border-bottom: 2px solid darken($blueLight, 20%);
}

button.buttonLarge, .button.buttonLarge {
    height: 3em;
    line-height: 3em;
    font-size: 1em;
}

textarea, input[type="text"], input[type="password"], input[type="file"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    display: block;
    padding: 0 0.625em;
    border-radius: 0.3125em;
    min-width: 3.75em;
    max-width: 37.5em;
    width: 100%;
    min-height: 2.25em;
    background-color: $white;
    border: 2px solid $gray3;
}

button .icon, .button .icon {
    padding-right: 0.42857142857143em;
    color: inherit;
}

textarea:hover, input[type="text"]:hover, input[type="password"]:hover, input[type="file"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="date"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, input[type="number"]:hover, input[type="email"]:hover, input[type="url"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="color"]:hover {
	border-color: $gray4;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="file"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus {
	border: 2px solid $blueLight;
	outline: none;
}

// Placeholder grays, unable to combine into one rule or else browser will ignore
input::-webkit-input-placeholder {
	color: $gray2;
}

input::-moz-placeholder {
	color: $gray2;
}

input:-moz-placeholder {   /* Older versions of Firefox */
	color: $gray2;
}

input:-ms-input-placeholder { 
	color: $gray2;
}

.searchInput {
    position: relative;

    input {
      max-width: inherit;
    }

    .icon {
      position: absolute;
      right: 10px;
      top: 0;
    }
}

.inlineIcon {
    line-height: inherit;
}

textarea::-webkit-input-placeholder {
	color: $gray2;
}

textarea::-moz-placeholder {
	color: $gray2;
}

textarea:-moz-placeholder {   /* Older versions of Firefox */
	color: $gray2;
}

textarea:-ms-input-placeholder { 
	color: $gray2;
}

progress {
	width: 100%;
	background-color: $gray1;
	border: none;
	height: 1.5em;
	border-radius: 2px;
}

progress::-webkit-progress-bar{
	background-color:$gray1;
	border-radius:2px
}

progress::-webkit-progress-value {
	background:$blueLight;
	border-radius:2px
}

progress::-moz-progress-bar{
	background:$blueLight;
	border-radius:2px
}

fieldset {
	label, .label {
		display: inline-block;
		font-weight: bold;
		margin-bottom: 0.25em;
	}
}

.localNav {
	border-bottom: 2px solid $gray1;
	border-top: 2px solid $gray1;
	display: block;
	list-style: none;
	margin-top: 1.5em;
	margin-bottom: 1.875em;	

	li {
		font-weight: bold;
		display: inline-block;
		overflow: visible;
		padding: 0.625em 0.9375em;

		a, a:visited {
			color: $gray5;
			border-bottom: none;
		}

		a:hover, a:visited:hover, a:active {
			color: lighten($gray5, 40);
		}
	}

	li.active a {
		color: $blueLight;
	}
}

// Icons
.iconBlock {
	background-color: $gray1;
	border-radius: 3px;
	padding: 0.3em;
	font-size: 1.875em;
}

.iconBlock.disabled {
	background-color: none;
	color: $gray2;
	border: 2px solid $gray2;
	padding: 0.23333333333333em;
}

// Table

table {
	width: 100%;
	border-collapse: collapse;
	border-color: none;

	thead {
  		background-color: $gray1;
	}

	thead td {
		font-weight: bold;
	}

	td, th {
		word-wrap: break-word;
		border-left: 2px solid $gray1;
		padding: 0.6875em 1.25em;
		vertical-align: middle;
	}

	tr {
  		border-bottom: 2px solid $gray1;
	}

	td:first-of-type, tr:first-of-type {
		border-left: none;
	}

	tr:last-of-type {
		border-bottom: none;
	}

	tr.focus {
		background-color: lighten($yellowLight,40);

		td, th {
			border-color: lighten($yellowLight,40);
		}
	}
}


#wrap {
	background-color: $white;
	margin-left: 11.25em;
	margin-right: 0;
	margin-top: 3.75em;
	width: auto;
	height: inherit;
	position: relative;
}

#content {
	background-color: $white;
	padding: 2.625em 2.5em;
	padding-right: 3.75em; // Only turn on for responsive layouts
}

#mainNav {
	position: fixed;
	top: 0;
	left: 0;
	height: 3.75em;
	width: 100%;
	background-color: $blueLight;
	overflow: hidden;
	z-index: 200;

	.logo {
		width: 11.25em;
		height: 100%;
		display: inline-block;

		img {
			position: relative;
			top: .5em;
			padding-left: 2.875em;
			padding-top: 0.5625em;
			height: 2.25em;
		}
	}

	.search {
		margin-left: 2.5em;
		position: relative;

		input {
			display: inline-block;
			width: 30%;
			min-width: 22.5em;
			border: 2px solid lighten($blueLight, 30%);
		}

		input:hover {
			border-color: $blueDark;
		}
		input:focus {
			border: 2px solid darken($blueDark, 10%);
		}

		.inputLink {
			position: absolute;
			right: 2.75em;
			border:none;
			color: $gray5;
			font-weight: normal;
		}

		.icon {
			position: absolute;
			right: 0.7em;
			line-height: 2.9em;
		}

		.inputLink {
			line-height: 3.75em;
		}

		.inputLink:hover, .icon:hover {
			color: lighten($gray5,40);
		}
	}

	ul {
		display: inline-block;
		float: right;
		margin-right: 2.5em;

		.icon {
			position: relative;
			margin-left: 0.2em;
		}

		li {
			display: inline-block;
			line-height: 3.75em;
			color: $gray5;


			a {
				border: none;
				font-weight: bold;
				color: inherit;
				padding: 0 1.25em;
			}
		}

		li:hover {
			background-color: lighten($blueLight, 20%);
		}
	}


	transition: all .2s ease-in-out;
}

#mainNav.slideUp {
		top: -3.75em;
	}

#mainNav.slideDown {
		top: 0;
	}

#sideNav {
	overflow-y: auto;
	background-color: $gray1;
	position: fixed;
	bottom: 0;
	top: 0;
	left: 0;
	width: 11.25em;
	padding-top: 3.75em;
	z-index: 100;

	a {
		border: none;
		font-weight: bold;
		color: inherit;
	}

	li {
		padding: 0 1.25em;
		font-size: 1em;
		line-height: 3.75em;
		color: $gray3;
	}

	li.selected {
		color: $gray5;
	}

	li:hover {
		background-color: rgba($gray2, 0.3);
		color: $gray5;
	}

	.icon {
		padding-right: 0.4em;
		color: inherit;
	}
}
